

.App {
  width: 100%;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 80%; 
  border: 1px solid #ccc;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Add hover effect */
tr:hover {
  background-color: #ddd;
}
.blue-button {
  background-color: #0074d9; /* Blue color */
  color: #fff; /* Text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.blue-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.Table-div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-new-button{
  width: 80%;
  display: flex;
  justify-content: right;
  padding: 5px;
}
.action-button{
  display: flex;
  justify-content: space-between;
}
.Delete {
  background-color: red;
  color: #fff; /* Text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.Edit {
  background-color: green;
  color: #fff; /* Text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.Edit:hover {
  background-color: #fff; /* Darker blue on hover */
  color:green
}
.Delete:hover {
  background-color: #fff; /* Darker blue on hover */
  color:red
}
.active {
  background-color: rgba(99, 186, 41, 0.6); /* 30% opacity */
  color: #fff; /* Text color */
  border: none;
  text-align: center;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}
.inactive {
  background-color: rgba(186, 41, 41, 0.6); /* 30% opacity */
  color: #fff; /* Text color */
  border: none;
  text-align: center;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

